@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
/* Colors  */
    --black: #030303;
    --medium-brown: #7A746E;
    --light-cream: #FFF7F0;
    --galactic-blue: #755CDE;
    --summer-yellow: #F6A560;
    --pink: #F39E9E;
    --light-red: #EB7565;
    --cyan: #61C4B7;
    --dark-purple: #552049;

/* Interactive Elements */
    --button-primary: var(--black);
    --button-secondary: var(--light-red);
    --background-color: var(--light-cream);

/* Typography */
    --text-primary-color: var(--light-cream);
    --text-secondary-color: var(--black);
    --text-accent-color: var(--medium-brown);
    
    --heading-large: 56px;
    --heading-medium: 43px;
    --heading-small: 36px;

    --text-large: 24px;
    --text-medium: 18px;
    --text-small: 16px;

    --line-height-normal: 26px;
}



/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Plus Jakarta Sans", sans-serif;
 
}

body {
    background-color: var(--light-cream);
    color: var(--text-secondary-color);
    padding: 16px;
   
}

/* Typography */
.p-text {
    font-size: var(--text-small);
}

.page-title {
    font-size: var(--heading-small);
}



.p-text-line-height {
    line-height: var(--line-height-normal);
}

.text-align-center {
    text-align: center;
}




/* Layout */

main {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title-wrapper {
    margin: 32px 0;
    padding: 5px 18px;
}


.page-subtitle {
    color: var(--text-accent-color);
    margin-top: 16px;
}

.align-center {
    align-items: center;
}

.tiles {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}




.align-self-end {
    align-self: flex-end;
}


.logo img {
    width: 48px;
    height: 48px;
}

.tiles {
    margin-bottom: 100px;
}

.tile {
    border-radius: 8px;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    color: var(--text-primary-color);
}

.graphic-design-tile {
    background-color: var(--galactic-blue);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 364px;

}

.flex-col {
    flex-direction: column;
}
.graphic-design-tile img {
    align-self: flex-end;
}


.apps-tile, .ux-ui-tile {
    width: 100%;
    height: 182px;
}
.ux-ui-tile {
    background-color: var(--summer-yellow);
  
}


.apps-tile {
    background-color: var(--pink);
}

.illustrations-tile {
    background-color: var(--light-red);
    height: 158px;
    grid-column: span 2;
}

.photography-tile {
    background-color: var(--cyan);
    height: 158px;
}

.motion-tile {
    background-color: var(--dark-purple);
    height: 158px;
}

.photo-motion-tiles {
    gap: 24px
}

.group-tiles {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
}


.about-image {
    width: 300px;
    height: 300px;
    margin-bottom: 40px;
}
.about-title {
    font-size: 26px;
}
.about-text {
    color: var(--medium-brown);
    margin: 24px 0;
}

.portfolio {
    gap: 32px;
    margin: 100px 0;
}

.portfolio-showcase {
    gap: 15px;
    overflow: auto;

}

.portfolio-showcase::-webkit-scrollbar {
    scrollbar-width: none; 
    -ms-overflow-style: none;  
    display: none;
  }

.showcase-img {
   width: 270px;
   height: 180px;
   border-radius: 8px;
}

.call-to-action-container {
    height: 352px;
    background-color: var(--black);
    color: var(--text-primary-color);
    padding: 48px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 40px;
}


.call-to-action-text {
    margin: 24px 0;
}


/* Interactive Elements 

* Buttons 

*/

button {
    background-color: var(--button-primary);
    color: var(--light-cream);
    width: 176px;
    height: 44px;
    border: none;
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
}


.button-secondary{
    background-color: var(--button-secondary);
}



.button-primary:hover,
.button-primary:active {
    background-color: var(--galactic-blue);
    transition: 0.3s;
}

.button-secondary:hover,
.button-secondary:active {
    background-color: var(--summer-yellow);
    transition: 0.3s;
}

.scroll-buttons {
    display: flex;
    margin: 0 auto;
    gap: 16px;
}

.scroll-button {
    width: 64px;
    height: 64px;
    text-align: center;
}



.call-to-action-button {
    background-color: var(--button-secondary);
}





/* Media Queries */

@media screen and (min-width: 480px) {
    body {
        padding: 40px;
    }

    button {
        width: 228px;
        height: 56px;
        font-size: 16px;
    }
    .logo img {
        width: 64px;
        height: 64px;
    }
    .container {
        width: 690px;
        margin: 0 auto;
    }

    .tiles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin-bottom: 120px;

    }

    .photo-motion-tiles {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: span 2;
    }
  

    .title-wrapper {
        padding: 0 56px;
        margin: 64px 0;
    }
    .page-title {
        font-size: var(--heading-medium);
    }

    .p-text {
        font-size: var(--text-medium);
    }

    .about {
        height: 364px;
        flex-direction: row;
        gap: 70px;
        text-align: left;
        position: relative;
        margin-bottom: 120px;
    }

    .about-image {
        width: 364px;
        height: 364px;
        margin: 0;
        margin-left: -5.2rem;
    }
    .about-text-container {
        justify-content: space-between;
        height: 100%;
    }

    .about-title {
        font-size: 32px;
    }
    .about-button {
        align-self: flex-start;
    }
    .portfolio {
        gap: 56px;
        margin: 0;
    }
    .portfolio-showcase {
        gap: 30px;
    }
    .showcase-img {
        width: 540px;
        height: 360px;
    }

    .call-to-action-container {
        margin: 120px 0 56px 0;
    }
}


@media screen and (min-width: 1024px) {
    .container {
        width: 1110px;
    }
    .title-wrapper {
        width: 752px;
        padding: 0;
        align-self: center;
    }
    .page-title {
        font-size: var(--heading-large);
    }

    .page-subtitle {
        padding: 26px;
    }
    .tiles {
       display: flex;
       flex-direction: row;
      
    }

    .tiles > * {
        flex-basis: 33.33%;
    }

    .photo-motion-tiles {
        display: flex;
        justify-content: space-between;
    }

    .photography-tile {
        height: 182px;
    }


    .about {
        gap: 150px;
    }

    .about-title, .call-to-action-title {
        font-size: 40px;
    }

    .about-text-container {
        justify-content: center;
        height: 100%;
    }

    .about-image {
        width: 364px;
        height: 364px;
        margin: 0;
        margin-left: 0;
    }

    .portfolio-title {
        font-size: var(--heading-small);
    }

    .call-to-action-container {
       flex-direction: row;
       text-align: left;
       justify-content: space-between;
       padding: 80px 95px 80px 60px;
    }

    .call-to-action-texts {
        width: 540px;
        
    }
   


}