@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
/* Colors  */
    --black: #030303;
    --medium-brown: #7A746E;
    --light-cream: #FFF7F0;
    --galactic-blue: #755CDE;
    --summer-yellow: #F6A560;
    --pink: #F39E9E;
    --light-red: #EB7565;
    --cyan: #61C4B7;
    --dark-purple: #552049;

/* Interactive Elements */
    --button-primary: var(--black);
    --button-secondary: var(--light-red);
    --background-color: var(--light-cream);

/* Fonts */
    --text-primary-color: var(--light-cream);
    --text-secondary-color: var(--black);
    --text-accent-color: var(--medium-brown);
    
    --heading-large: 56px;
    --heading-medium: 40px;
    --heading-small: 32px;
    --text-medium: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Plus Jakarta Sans", sans-serif;
 
}

body {
    background-color: var(--light-cream);
    color: var(--text-secondary-color);
    padding: 16px;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.title-wrapper {
    margin: 32px 0;
    padding: 5px 18px;
}

.page-subtitle {
    color: var(--text-accent-color);
    line-height: 28px;
    margin-top: 16px;
}

.title-wrapper h1 {
    font-size: 36px;
}
.tiles {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.text-align-center {
    text-align: center;
}
.align-self-end {
    align-self: flex-end;
}


.logo img {
    width: 48px;
    height: 48px;
}

button {
    background-color: var(--button-primary);
    color: var(--light-cream);
    width: 176px;
    height: 44px;
    border: none;
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.tiles {
    margin-bottom: 100px;
}

.tile {
    border-radius: 8px;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    color: var(--text-primary-color);
}

.graphic-design-tile {
    background-color: var(--galactic-blue);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 364px;

}

.flex-col {
    flex-direction: column;
}
.graphic-design-tile img {
    align-self: flex-end;
}


.apps-tile, .ux-ui-tile {
    width: 100%;
    height: 182px;
}
.ux-ui-tile {
    background-color: var(--summer-yellow);
  
}


.apps-tile {
    background-color: var(--pink);
}

.illustrations-tile {
    background-color: var(--light-red);
    height: 158px;
    grid-column: span 2;
}

.photography-tile {
    background-color: var(--cyan);
    height: 158px;
}

.motion-tile {
    background-color: var(--dark-purple);
    height: 158px;
}


.group-tiles {
    display: grid;
    gap: 24px;
    grid-template-columns: 1fr 1fr;
}

.about {
    text-align: center;
}
.about-image {
    width: 300px;
    height: 300px;
    margin-bottom: 40px;
}
.about-title {
    font-size: 26px;
}
.about-text {
    color: var(--medium-brown);
    margin: 24px 0;
}

.about-button {
    background-color: var(--light-red);
}

.portfolio {
    gap: 32px;
}
.portfolio-showcase {
    gap: 15px;
    overflow: auto;

}
.showcase-img {
   width: 270px;
   height: 180px;
   border-radius: 8px;
}

.scroll-buttons {
    display: flex;
    margin: 0 auto;
    gap: 16px;
}

.scroll-button {
    width: 64px;
    height: 64px;
    text-align: center;
}