:root {
/* Colors  */
    --black: #030303;
    --medium-brown: #7A746E;
    --light-cream: #FFF7F0;
    --galactic-blue: #755CDE;
    --summer-yellow: #F6A560;
    --pink: #F39E9E;
    --light-red: #EB7565;
    --cyan: #61C4B7;
    --dark-purple: #552049;

/* Interactive Elements */
    --button-primary: var(--black);
    --button-secondary: var(--light-red);
 
    --background-color: var(--light-cream);
    
}


body {
    background-color: var(--light-cream);
}